{% extends 'base.html' %}

{% block title %}Editar Equipo{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row m-5">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">

            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h3>Editar Equipo</h3>
                </div>
                

                <form action="" method="post">

                    {% csrf_token %}
                    {{ form | crispy }}
        
                    <div class="d-flex justify-content-end m-2">
        
                        <a href="{% url 'listar_equipos' %}" class="btn btn-secondary m-1">Cancelar</a>
                        <input type="submit" value="Editar" class="btn btn-success m-1">
        
                    </div>
        
                </form>

                {{ mensaje }}

            </div>
        
        </div> 

    </div>
</div>



{% endblock %}