{% extends 'base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}

<main class="contacto-privacidad">

    <div>
        <img src="{% static 'img/contacto.png' %}" alt=""  />
    </div>
    
    <div>
        <h2>Bienvenido a la plataforma MASTERcode!</h2>

        <p>
            Somos tu aliado en la administración de equipos,
            principalmente en ambientes en los que se deben de
            seguir un control metrológico riguroso como lo son
            los laboratorios de análisis.
        </p>

        <p>
            En esta plataforma podrás encontrar el registro de
            equipos, usuarios y técnicos certificados para llevar
            un correcto manejo de la información
        </p>

        <p>
            Si quieres información personalizada, ponte en
            contacto con nosotros!
        </p>

        <p>
            teléfono: (606) 313 7300
            celular: +57 317 785 7854 - +57 317 785 7850
            e-mail: info@mastercode.com
            Cra. 27 #10-02, Pereira, Risaralda
        </p>
    </div>

</main>

{% endblock %}