{% extends 'base.html' %}

{% load static %}

{% block title %}MASTERcode{% endblock %}

{% block content %}


    <main class="columnas">

        <a class="card" href="{% url 'listar_equipos' %}">
            <h3>Equipos</h3>
            <img src="{% static 'img/equipos.png' %}" alt="" />  
        </a>


        <a class="card" href="{% url 'listar_mantenimientos' %}">
            <h3>Mantenimientos</h3>
            <img src="{% static 'img/mantenimiento.png' %}" alt="" />  
        </a>



        <a class="card" href="{% url 'listar_tecnicos' %}">
            <h3>Técnicos</h3>
            <img src="{% static 'img/tecnicos.png' %}" alt="" />
        </a>

    </main>

{% endblock %}